*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html{
    font-size: size 62.5%;
    font-family: 'League Spartan', sans-serif;
}



.container-one{
    display: flex;
    height: 50vh;
    background-image: url(bg-pattern-top-desktop.svg);
}
.container-one > .heading{
   
    max-width:50%;
    min-height: 50vh;
    padding-left: 10rem;
    padding-right: 5rem;
    color: hsl(300, 43%, 22%);
}
.container-one > .heading> h1{
    padding-right: 2rem;
    font-size: 3rem;  
    padding-top: 5rem; 
}
.container-one > .heading> p{
    color:hsl(300, 43%, 22%);
    font-size: 1.2rem;  
    padding-top: 3rem; 
    max-width: 100%;
    font-weight: lighter;
    opacity: 0.5;
}

.container-one > .ratings{
    
    width: 50%;
}
.container-one > .ratings > .ratings-one{
    background-color: hsl(300, 24%, 96%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
    width:60%;
    margin-top: 5rem;
    border-radius: 0.5rem;
}
.container-one > .ratings > .ratings-one > .stars{
    
    margin-left: 2rem;
}
.container-one > .ratings > .ratings-two > .stars{
    
    margin-left: 2rem;
}
.container-one > .ratings > .ratings-three > .stars{
    
    margin-left: 2rem;
}

.container-one > .ratings > .ratings-one> img{
   width:1.3rem;
   height: 1rem;
   padding-left: 0.2rem; 
}
.container-one > .ratings > .ratings-one> p{
    font-weight: bolder;
    padding-left: 2rem;
    padding-top: 0.3rem;
    color: hsl(300, 43%, 22%);
}
.container-one > .ratings > .ratings-two{
    background-color: hsl(300, 24%, 96%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
    width:60%;
    margin-top: 1rem;
    margin-left: 2rem;
    border-radius: 0.5rem;
}

.container-one > .ratings > .ratings-two> img{
   width:1.3rem;
   height: 1rem;
   padding-left: 0.2rem; 
}
.container-one > .ratings > .ratings-two> p{
    font-weight: bolder;
    padding-left: 2rem;
    padding-top: 0.3rem;
    color: hsl(300, 43%, 22%);
}
.container-one > .ratings > .ratings-three{
    background-color: hsl(300, 24%, 96%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
    width:60%;
    margin-top: 1rem; 
    margin-left: 4rem;
    border-radius: 0.5rem;
}

.container-one > .ratings > .ratings-three> img{
   width:1.3rem;
   height: 1rem;
   padding-left: 0.2rem; 
}

.container-one > .ratings > .ratings-three> p{
    font-weight: bolder;
    padding-left: 2rem;
    padding-top: 0.3rem;
    color:hsl(300, 43%, 22%);
}


 .card{
    border-radius: 0.8rem;
    min-height: 30vh;
    max-width: 20rem;
    background-color:  hsl(300, 43%, 22%);
}

.card-one{
    margin-left: 10rem;
    
}
 .card-two{
    margin-top: -12rem;
    margin-left: 32rem;
}
.card-three{
    
    margin-top: -12rem;
    margin-left: 54rem;
}
.card > .profile{
   
    display: flex;
}
.card > .profile >img{
   height: 2.4rem;
   width:2.4rem;
   border-radius: 50%;
   margin-left: 2rem;
   margin-top: 2rem;
}

.profile-name > h2{

    font-size:1.2rem;
    font-weight: 300;
    margin-left: 1rem;
   margin-top: 2.2rem;
   color:#fff;
}
.profile-name > h3{
    margin-top: 0.4rem;
    font-size:1rem;
    margin-left: 1.1rem;
   color: hsl(333, 80%, 67%);
   font-weight: 100;
   opacity: 0.7;
}


.testimonial{
    max-width:80%;
    margin:0 auto;
    padding-top: 1.4rem;
    
    color:#fff;
    font-size: 1rem;
    opacity: 0.7;
}




@media screen and (max-width:1220px){

    body{
        padding-bottom: 0;
    }
   .container-one{
    max-width: 90%;
    display: flex;
    flex-direction: column;
   }
   .container-one > .heading{
    margin: 0 auto;
    max-width:100%;
    min-height: 40vh;
    
    padding: 0;
    text-align: center;
}

.container-one > .heading> h1{
    padding: 3rem 0 0 0;
    font-size: 3rem;  
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
}
.container-one > .heading> p{
    color:hsl(300, 43%, 22%);
    font-size: 1.2rem;  
    padding: 3rem 0 0 0;
    max-width: 80%;
    margin: 0 auto;
}
.container-one > .ratings{
    
    width: 100%;
}
.container-one > .ratings > .ratings-one{
    margin: 3rem auto;
    width: 90%;
    height: 30%;
   
}



.container-one > .ratings > .ratings-two{
    margin: 3rem auto;
    width: 90%;
    height: 30%;
}
.container-one > .ratings > .ratings-three{
    margin: 3rem auto;
    width: 90%;
    height: 30%;
}



.card{
    border-radius: 0.8rem;
    min-height: 40vh;
    max-width: 90%;
    
}

.card-one{
   margin: 22rem auto;
    
}
 .card-two{
    margin: -20rem auto;
}
.card-three{
    
    margin: 22rem auto;
}




}